Zandeross.UI/bin/System.Web.Razor.xml
Zandeross.UI/bin/System.Web.Mvc.xml
Zandeross.UI/bin/System.Web.Helpers.xml
Zandeross.UI/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
Zandeross.Test/obj/Debug/Zandeross.Test.csproj.FileListAbsolute.txt
Zandeross.Test/obj/Debug/Zandeross.Test.csproj.CopyComplete
Zandeross.Test/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Zandeross.Http/bin/roslyn/csc.rsp
Zandeross.Http/bin/roslyn/csc.exe.config
Zandeross.Http/bin/roslyn/VBCSCompiler.exe.config
Zandeross.Http/bin/roslyn/Microsoft.VisualBasic.Core.targets
Zandeross.Domain/obj/Debug/Zandeross.Domain.csproj.CopyComplete
Zandeross.Domain/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Zandeross.Domain/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Zandeross.Domain/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Zandeross.Domain/bin/Debug/Newtonsoft.Json.xml
Zandeross.Domain/bin/Debug/Dapper.xml
Zandeross.Domain/bin/Debug/Dapper.FastCrud.xml
Zandeross.UI/obj/Debug/Zandeross.UI.csproj.FileListAbsolute.txt
Zandeross.UI/obj/Debug/Zandeross.UI.csproj.CopyComplete
Zandeross.Test/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Zandeross.Test/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Zandeross.Test/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
Zandeross.Test/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
Zandeross.Test/bin/Debug/Dapper.xml
Zandeross.Test/bin/Debug/Dapper.FastCrud.xml
Zandeross.Http/obj/Debug/Zandeross.Http.csproj.FileListAbsolute.txt
Zandeross.Http/bin/System.Web.Http.WebHost.xml
Zandeross.Http/bin/System.Net.Http.Formatting.xml
Zandeross.Http/bin/Newtonsoft.Json.xml
Zandeross.Http/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
Zandeross.Http/bin/Dapper.xml
Zandeross.Http/bin/Dapper.FastCrud.xml
Zandeross.Domain/obj/Debug/Zandeross.Domain.csproj.FileListAbsolute.txt
Zandeross.UI/bin/roslyn/VBCSCompiler.exe.config
Zandeross.UI/bin/roslyn/Microsoft.VisualBasic.Core.targets
Zandeross.UI/bin/roslyn/Microsoft.CSharp.Core.targets
Zandeross.UI/bin/Zandeross.UI.dll.config
Zandeross.UI/bin/System.Web.Webpages.xml
Zandeross.UI/bin/System.Web.Webpages.Razor.xml
Zandeross.UI/bin/System.Web.Webpages.Deployment.xml
Zandeross.Http/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Zandeross.Http/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Zandeross.Http/bin/roslyn/vbc.rsp
Zandeross.Http/bin/roslyn/vbc.exe.config
Zandeross.Http/bin/roslyn/Microsoft.CSharp.Core.targets
Zandeross.Http/bin/Zandeross.Http.dll.config
Zandeross.Http/bin/System.Web.Http.xml
Zandeross.UI/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Zandeross.UI/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Zandeross.UI/bin/roslyn/vbc.rsp
Zandeross.UI/bin/roslyn/vbc.exe.config
Zandeross.UI/bin/roslyn/csi.rsp
Zandeross.UI/bin/roslyn/csc.rsp
Zandeross.UI/bin/roslyn/csc.exe.config
Zandeross.Http/obj/Debug/Zandeross.Http.csproj.CopyComplete
Zandeross.Http/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Zandeross.Http/bin/roslyn/csi.rsp
Zandeross.UI/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
